.whole{

    margin: 60px;
}
.status {
    height: 150px;
    background-color: rgb(67, 22, 49);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
}

.heading {
    font-weight: bolder;
    font-size: xx-large;
}

.done {
    font-weight: bolder;
    font-size: larger;
}


@media (max-width:570px){
    .status{
        padding: 10px;
        height: 100px;
    }
    .heading{
        font-size:larger;
    }
    .done{
        font-size: large;
    }
}

/* For adding new task */
.addTask{
margin-top: 30px;
margin-bottom: 30px;
background-color: rgb(67, 22, 49);
color: white;
padding: 15px;
border-radius: 40px;
display: flex;
justify-content: center;
font-weight: bold;
cursor: pointer;
}